@*
//===============================================================================================
// <A4DN_GeneratedInformation>
// This code was generated using the Accelerator for .Net Code Generator.
// <A4DN_Template Name="MVC.Module.Views.Detail.cshtml.t4" Version="8.0.0.93" GeneratedDate="5/29/2024" />
// </A4DN_GeneratedInformation>
//===============================================================================================
*@

@using A4DN.Core.MVC.Shared.Infrastructure.Helpers.SmartAdmin
@using A4DN.Core.MVC.Shared.Models

@model BOS.ShippingAddressDataEntity.ShippingAddressEntity


@using (Html.BeginForm(null, null, FormMethod.Post))
{
  
	ViewBag.AutoAppendIconForKnownDataTypes = true;

	@Html.AntiForgeryToken()

	<div class="smart-form">
		<fieldset>
			@Html.am_FieldControl(model => model.ShippingAddressInternalID)
			@Html.am_FieldControl(model => model.CustomerInternalID,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.CustomerName)
			@Html.am_FieldControl(model => model.Name)
			@Html.am_FieldControl(model => model.ContactLastName)
			@Html.am_FieldControl(model => model.ContactFirstName)
			@Html.am_FieldControl(model => model.ContactMiddleName)
			@Html.am_FieldControl(model => model.ContactNickName)
			@Html.am_FieldControl(model => model.Address1)
			@Html.am_FieldControl(model => model.Address2)
			@Html.am_FieldControl(model => model.Address3)
			@Html.am_FieldControl(model => model.PostalCode)
			@Html.am_FieldControl(model => model.Country)
			@Html.am_FieldControl(model => model.Telephone)
			@Html.am_FieldControl(model => model.Email)
			@Html.am_FieldControl(model => model.Memo)
			@Html.am_FieldControl(model => model.PurchasePoints)
			@Html.am_FieldControl(model => model.CreateDate,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.CreateTime,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.CreateUser,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.CreateJob,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.CreateJobNumber,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.LastChangeDate,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.LastChangeTime,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.LastChangeUser,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.LastChangeJob,new AB_FieldControlModel() { ap_IsHidden = true })
			@Html.am_FieldControl(model => model.LastChangeJobNumber,new AB_FieldControlModel() { ap_IsHidden = true })
			
		</fieldset>
	</div>

}