@*
//===============================================================================================
// <A4DN_GeneratedInformation>
// This code was generated using the Accelerator for .Net Code Generator.
// <A4DN_Template Name="MVC.Module.Views.SearchExplorerBar.cshtml.t4" Version="8.0.0.93" GeneratedDate="5/29/2024" />
// </A4DN_GeneratedInformation>
//===============================================================================================
*@
@using A4DN.Core.MVC.Shared.Infrastructure.Helpers.SmartAdmin
@using A4DN.Core.MVC.Shared.Models

@model BOS.OrderItemDataEntity.OrderItemEntity

@using (Html.BeginForm(null, null, FormMethod.Get))
{
	ViewBag.AppendClearButtonToAll = true;

	<div class="smart-form">
		<fieldset>
			@Html.am_FieldControl(model => model.OrderItemInternalID)
			@Html.am_FieldControl(model => model.OrderInternalID)
			@Html.am_FieldControl(model => model.ProductInternalID)
			@Html.am_FieldControl(model => model.Quantity)
			@Html.am_FieldControl(model => model.UnitPrice)
			@Html.am_FieldControl(model => model.DiscountPercent)
			@Html.am_FieldControl(model => model.ProductName)
			
		</fieldset>
	</div>

}