<div id="content" class="container">
    <div class="row">
        @{ Html.RenderPartial("_ErrorText"); }
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <div class="well no-padding">
                <form action="@Url.Action("login", "SYS_account")" method="POST" id="login-form" class="smart-form client-form">
                    <header>
                        @Resources.DescriptionResource.SignIn
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationBootstrap()
                    <fieldset>
                        <section>
                            <label class="label">@Resources.DescriptionResource.EMAIL</label>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="email" name="email">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> @Resources.DescriptionResource.EnterYourEmailAddress</b>
                            </label>
                        </section>

                        <section>
                            <label class="label">@Resources.DescriptionResource.PASSWORD</label>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" name="password">
                                <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> @Resources.DescriptionResource.EnterYourPassword</b>
                            </label>
                            <div class="note">
                                <a href="@Url.Action("ForgotPassword", "SYS_Account", new { rs = 1 })">@Resources.DescriptionResource.ForgotPassword</a>
                            </div>
                        </section>

                        <section>
                            <label class="checkbox">
                                <input type="checkbox" name="remember">
                                <i></i>@Resources.DescriptionResource.StaySignedIn
                            </label>
                        </section>
                    </fieldset>
                    <footer>
                        <button type="submit" class="btn btn-primary">
                            @Resources.DescriptionResource.SignIn
                        </button>
                    </footer>
                </form>
            </div>
        </div>
    </div>
</div>