@model AB_ModuleExplorerNewTabModel

@using A4DN.Core.MVC.Shared.Models
@using A4DN.Core.MVC.Shared.Infrastructure.Helpers
@{

    var fh = Html.ap_FrameworkHelper();

}

<section>
    <br />
    <h1>@Resources.DescriptionResource.Favorites <a class="a4dn-remove a4dn-remove-all-btn a4dn-remove-all-favorites pull-right btn btn-default" href="javascript:void(0);" data-a4dn-remove-href="@Url.Action("am_RemoveAllNavigatorFavorites", "AB_Framework")"><i class=""></i> @Resources.DescriptionResource.RemoveAllFavorites</a></h1>
    <hr />
    @foreach (var mod in Model.ap_NavigatorFavoritesModel.ap_Modules)
    {

        <div class="a4dn-nav-modules a4dn-nav-favorites-modules">
            <a class="a4dn-remove a4dn-remove-btn a4dn-remove-favorite" href="javascript:void(0);" data-original-title="@Resources.DescriptionResource.Remove" rel="tooltip" data-placement="right"
               data-a4dn-app-number="@mod.ApplicationNumber" data-a4dn-module-number="@mod.ModuleNumber" data-a4dn-remove-href="@Url.Action("am_RemoveNavigatorFavorite", "AB_Framework", new {pAppNo = mod.ApplicationNumber, pModNo = mod.ModuleNumber})"><i class="fa fa-times"></i></a>
            <img class="a4dn-nav-image hidden" src="@Url.Content(fh.am_GetImageURL(mod.Image))" />
            <a class="a4dn-module-link" data-a4dn-modnum="@mod.ModuleNumber" data-a4dn-modnam="@mod.ModuleName" href="@Url.Action("GetModuleExplorerHtmlView", mod.MVCControllerName, new {pSysNo = mod.SystemNumber, pAppNo = mod.ApplicationNumber, pModNo = mod.ModuleNumber})"><img class="a4dn-nav-image-large" src="@Url.Content(fh.am_GetImageURL(mod.Image, "_large.png"))" /> @mod.ModuleName</a>
        </div>
    }
</section>
<section>
    <h1>
        @Resources.DescriptionResource.RecentlyUsed <a class="a4dn-remove a4dn-remove-all-btn a4dn-remove-all-recent pull-right btn btn-default" href="javascript:void(0);" data-a4dn-remove-href="@Url.Action("am_RemoveAllNavigatorRecent", "AB_Framework")"><i class=""></i> @Resources.DescriptionResource.RemoveAllRecent</a>
</h1>
    <hr />
    @foreach (var mod in Model.ap_NavigatorRecentModel.ap_Modules)
    {

        <div class="a4dn-nav-modules a4dn-nav-recent-modules">
            <a class="a4dn-remove a4dn-remove-btn a4dn-remove-recent" href="javascript:void(0);" data-original-title="@Resources.DescriptionResource.Remove" rel="tooltip" data-placement="right"
               data-a4dn-app-number="@mod.ApplicationNumber" data-a4dn-module-number="@mod.ModuleNumber" data-a4dn-remove-href="@Url.Action("am_RemoveNavigatorRecent", "AB_Framework", new {pAppNo = mod.ApplicationNumber, pModNo = mod.ModuleNumber})"><i class="fa fa-times"></i></a>
            <img class="a4dn-nav-image hidden" src="@Url.Content(fh.am_GetImageURL(mod.Image))" />
            <a class="a4dn-module-link" data-a4dn-modnum="@mod.ModuleNumber" data-a4dn-modnam="@mod.ModuleName" href="@Url.Action("GetModuleExplorerHtmlView", mod.MVCControllerName, new {pSysNo = mod.SystemNumber, pAppNo = mod.ApplicationNumber, pModNo = mod.ModuleNumber})"><img class="a4dn-nav-image-large" src="@Url.Content(fh.am_GetImageURL(mod.Image, "_large.png"))" /> @mod.ModuleName</a>
       </div>
    }
</section>


<script>
    pageSetUp();
</script>